header {
    display: flex;
    flex-flow: column;
    & button {
        cursor: pointer;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 3rem;
    &>:first-child {
        flex: 8 1 0;
        min-width: 200px;
    }
    &>:last-child {
        flex: 2 1 0;
        min-width: 100px;
    }
}

menu.links {
    display: flex;
    gap: 1rem;
}

menu.tools {
    display: flex;
    gap: 1rem;
}